.back_btn {
    color: white;
  }
  .back_btn_ios {
    display: none;
  }
  .back_btn_md {
    color: transparent;
  }
  
  ion-header ion-toolbar {
    --background: url("../../assets/image/bgimage.jpg") center / 200%;
  }
  .title_register {
    color: white;
    text-align: center;
    font-weight: bold;
    //padding-left: 0px;
  }
  .app_title {
    margin-top: 70px;
    margin-bottom: 24px;
  }
  .app_title_1 {
    text-align: center;
  }
  
  ion-content.bgimage {
    --background: url(../../assets/image/bgimage.jpg) 0 0/100% 100% no-repeat;
  }
  .page_margin {
    margin-left: 15px;
    margin-right: 15px;
  }
  .head-color {
    color: white;
    //padding-bottom: 14px;
    font-size: 40px;
    font-weight: bold;
  }
  .input-field {
    border: white solid 2px;
    --placeholder-color: white solid;
    border: 0;
  }
  .ion-inputs-item {
    padding-bottom: 21px;
    --background: transparent;
    padding-left: 37px;
    padding-right: 32px;
  }
  .item-transperncy {
    --background: transparent;
    border: white solid 2px;
    padding-left: 25px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    height: 46px;
  }
  .login_btn {
    --background: white;
    align-items: center;
    padding-left: 135px;
    height: 56px;
  }
  .forget_password {
    color: white;
    font: bold;
  }
  .crete_account_text {
    padding-top: 65px;
  }
  .plus_icon {
    --background: transparent;
    --color: white;
  }
  
  .icon_style {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: aliceblue;
  }
  .register_btn {
    --background: white;
    height: 53px;
    padding-block-end: 0px;
    width: -webkit-fill-available;
  }
  .footer_style {
    --background: transparent;
    color: aliceblue;
    font-weight: bold;
    padding-block-end: 17px;
    padding-right: 21px;
    margin-inline-start: -9px;
  }
  .footer_style1 {
    bottom: 0;
    position: absolute;
  }
  
  .fab[mini] {
    height: 45px;
    width: 45px;
    background: #9f0600;
  }
  .backIcon {
    background: #9f0600 !important ;
  }
  .fab_pos {
    bottom: 3%;
    position: fixed;
    background: #9f0600;
  }
  
  .register_btn_text {
    margin-top: 11px;
  }
  .error-messages {
    font-size: 1rem;
    color: white;
    text-align: center;
  }
  .plus_icon {
    font-size: 37px;
    color: white;
    padding-left: -1px;
    margin-left: -1px;
    height: 38px;
  }
  .erro_style {
    border: 2px solid white;
  }
  .erro_style_1 {
    border: 2px solid red;
  }
  .eyestyle{
    color: white;
  }
  .fbtext{
    padding-left: 7px;
  }
  .fbbtn{
    --background:#3b5998;
    padding-left: 17px;
  }
  .fbbtnn{
    padding-left: 16px;
    --background:#3b5998;
  }
  .googlebtn{
    --background:red;
  }