<!--Header start-->
<ion-header class="headercolor">
  <ion-toolbar>
    <ion-title class="title_register">Login</ion-title>
    <ion-buttons slot="start" class="back_btn">
      <ion-back-button defaultHref="/" routerDirection="back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--Header end-->
<!--Login page-->
<ion-content class="bgimage" [scrollEvents]="true">
  <ion-grid class="page_margin">
    <!--login form start-->
    <form [formGroup]="loginForm">
      <ion-row class="app_title">
        <ion-col class="ion-align-self-center app_title_1">
          <ion-text class="ion-text-center">
            <span class="head-color">User Login</span>
          </ion-text>
        </ion-col>
      </ion-row>
      <!--userid field start-->
      <ion-row>
        <ion-col align-self-center>
          <ion-item class="item-transperncy" id="mail">
            <ion-input
            formControlName="email"
              type="text"
              placeholder="Userid"
              inputmode="email"
              (ionBlur)="errorToast('email')"
              class="in-valid"
            ></ion-input>
          </ion-item>
          <ion-icon class="icon_style" name="person"></ion-icon>
        </ion-col>
      </ion-row>
      <!--userid field end-->
      <!--password feild start-->
      <ion-row>
        <ion-col ion-align-self-center>
          <ion-item
            class="item-transperncy"
            id="password"
            [ngClass]="style==false?'erro_style_1':'erro_style'"
          >
            <ion-input
              class="input-field"
              type="{{passwordType}}"
              formControlName="password"
              placeholder="Password"
              clear-input="true"
              (ionBlur)="errorToast('password')"
            ></ion-input>
            
            <ion-icon
              (click)="passwordhideeye()"
              class="eyestyle"
              name="{{showeye?'eye':'eye-off'}}"
            ></ion-icon>
          </ion-item>

          <ion-icon class="icon_style" name="lock-closed-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <!--password feild end-->
      <!--login button start-->
      <ion-row>
        <ion-col ion-align-self-center>
          <ion-button
            class="register_btn"
            [disabled]="!loginForm.valid"
            (click)="user_login()"
            fill="clear"
          >
            <ion-text color="danger">
              <h1 class="register_btn_text">Login</h1>
            </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
      <!--login button end-->
      <h6 (click)="gotoregister()" style="color: white;" >DON'T HAVE AN ACCOUNT?</h6>
    </form>
  </ion-grid>
  <!-- <ion-button expand="block" >Fb login</ion-button> -->
</ion-content>