ion-header ion-toolbar {
    --background: red;
    color: aliceblue;
    font-weight: bold;
  }
  .title_style {
    font-weight: 900;
  }
  .search_icon {
    padding-right: 16px;
    font-size: 30px;
  }
  ion-content.bgimage {
    --background: url(../../assets/image/bgimage.jpg) 0 0/100% 100% no-repeat;
  }
  ion-header.headercolor {
    background-color: red;
  }
  .page_margin {
    margin-left: 30px;
    margin-right: 30px;
  }
  .head-color {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }
  .ion-inputs-item {
    padding-bottom: 12px;
    --background: transparent;
    font-size: 21px;
    font-weight: bold;
  }
  .item-transperncy {
    --background: transparent;
    border: white solid 2px;
    padding-left: 25px;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
  .icon_style {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: aliceblue;
  }
  .gender {
    height: 39px;
    font-size: 18px;
    padding-block-start: 9px;
    font-weight: bold;
  }
  .register_btn {
    --background: white;
    height: 53px;
    padding-block-end: 0px;
    width: -webkit-fill-available;
  }
  .checkbox_gender {
    --background: transparent;
    font-size: 21px;
    font-weight: bold;
  }
  .checkbox_term {
    --background: transparent;
    font-size: 18px;
    color: white;
    font-weight: bold;
  }
  .female_padding {
    padding-left: 23px;
  }
  .term_checkbox_text {
    padding-left: 10px;
  }
  .profile_img {
    --border-radius: 79%;
    height: 110px;
    width: 110px;
  }
  .profile_img_padding {
    padding-right: 18px;
  }
  .img_style {
    display: flex;
    justify-content: center;
  }
  .img_radius {
    border-radius: 50%;
  }
  .register_btn_text {
    margin-top: 11px;
  }
  .bottom_color {
    color: red;
    text-decoration: blink;
  }
  .footer_text_color {
    color: #333333;
    text-decoration: blink;
  }
  .grid_margin {
    margin-top: -20px;
  }
  .row_margin {
    margin-block-start: -16px;
    margin-block-end: -16px;
  }
  .icon_position {
    padding-block-start: 12px;
    font-size: 23px;
  }
  .text_opacity {
    opacity: 1 !important ;
  }
  ion-item {
    .native-input {
      opacity: 1;
    }
  }
  .usertxt{
      text-align: center;
      font-weight: bold;
      color:white;
  }
  .gendervalue{
    color: white;
    font-size: 23px;
    margin-top: 5px;
  }