<!--Header Section Start-->
<ion-header>
  <ion-toolbar>
    <!--Back Button Start-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" routerDirection="back"></ion-back-button>
    </ion-buttons>
    <!--Back Button End-->
    <ion-title>Profile</ion-title>
  </ion-toolbar>

</ion-header>
<!--Header End-->
<!--Page Content Start-->
<ion-content class="bgimage">
  <ion-grid class="page_margin">
    <!--Heading-->
<h2 class="usertxt" >User Information</h2>
    <!--first name field start-->
    <!-- <form> -->
    <ion-row>
      <ion-col align-self-center>
        <ion-item class="item-transperncy">
          <ion-input
            class="text_opacity"
            placeholder="First Name"
            type="text"
            [(ngModel)]="firstname"
            name="firstname"
            disabled
          >
          </ion-input>
        </ion-item>
        <ion-icon class="icon_style" name="person"></ion-icon>
      </ion-col>
    </ion-row>
    <!--first name field end-->
    <!--last name field start-->
    <ion-row>
      <ion-col ion-align-self-center>
        <ion-item class="item-transperncy">
          <ion-input
            position="center"
            type="text"
            [(ngModel)]="lastname"
            name="lastname"
            spellcheck="true"
            placeholder="Last Name"
            clear-input="true"
            disabled
          ></ion-input>
        </ion-item>
        <ion-icon class="icon_style" name="person"></ion-icon>
      </ion-col>
    </ion-row>
    <!--last name field send-->
    <!--email field start-->
    <ion-row>
      <ion-col ion-align-self-center>
        <ion-item class="item-transperncy">
          <ion-input
            position="center"
            type="text"
            [(ngModel)]="email"
            name="email"
            spellcheck="true"
            placeholder="Email"
            clear-input="true"
            disabled
          ></ion-input>
        </ion-item>
        <ion-icon class="icon_style" name="mail"></ion-icon>
      </ion-col>
    </ion-row>
    <!--email field end-->
    <!--mobile number field start-->
    <ion-row>
      <ion-col ion-align-self-center>
        <ion-item class="item-transperncy">
          <ion-input
            class="input-field"
            type="number"
            [(ngModel)]="mnumber"
            name="mnumber"
            placeholder="Phone Number"
            max="10"
            clear-input="true"
            disabled
          ></ion-input>
        </ion-item>
        <ion-icon class="icon_style" name="phone-portrait"></ion-icon>
      </ion-col>
    </ion-row>
    <!--mobile number field end-->

    <!--gender start-->
    <ion-row>
      <ion-col>
        <h3 style="color: white;">Gender</h3>
      </ion-col>
      <ion-col>
        <!-- <h3   style="color: white;"><span  ngDefaultControl></span></h3> -->
        <ion-input [(ngModel)]="gender" name="gender" class="gendervalue"></ion-input>
      </ion-col>
    </ion-row>
    <!--gender end-->
  <!-- </form> -->
  </ion-grid>
</ion-content>
