<!--Header Section Start-->
<ion-header>
  <ion-toolbar>
    <!--Back Button Start-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" routerDirection="back"></ion-back-button>
    </ion-buttons>
    <!--Back Button End-->
    <!--Title and Search icon Start-->
    <ion-title class="ion-text-center title_style">Reset Password</ion-title>
    <!--Title and Search icon End-->
  </ion-toolbar>
</ion-header>
<!--Header End-->
<!--Page Content Start-->
<ion-content class="bgimage">
  <ion-grid class="page_margin">
    <!--neostore heading start-->
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-text class="ion-text-center">
          <h2 class="head-color">Change your Password</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <!--neostore heading end-->
    <!--current password field start-->
    <form [formGroup]="changepassForm" >
      <ion-row>
        <ion-col ion-align-self-center>
          <ion-item class="item-transperncy">
            <ion-input

              id="oldpass"
              formControlName="oldpass"
              (ionBlur)="errorToast('oldpass')"
              class="input-field"
              type="{{oldpasswordType}}"
              placeholder="Current Password"
              clear-input="true"
            ></ion-input>
            <ion-icon
              (click)="oldpasswordhideeye()"
              class="eyestyle"
              name="{{oldshoweye?'eye':'eye-off'}}"
            ></ion-icon>
          </ion-item>
          <ion-icon class="icon_style" name="lock-closed-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <!--current password field end-->
      <!--new password field start-->
      <ion-row>
        <ion-col ion-align-self-center>
          <ion-item class="item-transperncy">
            <ion-input
            formControlName="newpasswod"
              (ionBlur)="errorToast('newpasswod')"
              class="input-field"
              type="{{passwordType}}"
              placeholder="New Password"
              clear-input="true"
            ></ion-input>
            <ion-icon
              (click)="passwordhideeye()"
              class="eyestyle"
              name="{{showeye?'eye':'eye-off'}}"
            ></ion-icon>
          </ion-item>
          <ion-icon class="icon_style" name="lock-closed-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <!--new password field end-->
      <!--confirm pssword field start-->
      <ion-row>
        <ion-col ion-align-self-center>
          <ion-item class="item-transperncy">
            <ion-input
              formControlName="cnfpass"
              (ionBlur)="checkPasswords()"
              class="input-field"
              type="{{cpasswordType}}"
              placeholder="Confirm Password"
              clear-input="true"
            ></ion-input>
            <ion-icon
              (click)="cpasswordhideeye()"
              class="eyestyle"
              name="{{cshoweye?'eye':'eye-off'}}"
            ></ion-icon>
          </ion-item>
          <ion-icon class="icon_style" name="lock-closed-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <!--confirm pssword field end-->
      <!--reset password button start-->
      <ion-row>
        <ion-col ion-align-self-center>
          <ion-button
            class="register_btn"
            (click)="resetPassword()"
            [disabled]="!changepassForm.valid"
          >
            <ion-text color="danger">
              <h2 class="register_btn_text">RESET PASSWORD</h2>
            </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
    <!--reset password button end-->
  </ion-grid>
</ion-content>
