ion-header ion-toolbar {
    --background: red;
    color: aliceblue;
    font-weight: bold;
  }
  .title_style {
    font-weight: 900;
  }
  .search_icon {
    padding-right: 16px;
    font-size: 30px;
  }
  
  ion-content.bgimage {
    --background: url(../../assets/image/bgimage.jpg) 0 0/100% 100% no-repeat;
  }
  ion-header.headercolor {
    background-color: red;
  }
  .page_margin {
    margin-left: 30px;
    margin-right: 30px;
  }
  .head-color {
    color: white;
    font-weight: bold;
    //font-size: 45px;
  }
  .ion-inputs-item {
    padding-bottom: 12px;
    --background: transparent;
    font-size: 21px;
    font-weight: bold;
  }
  .item-transperncy {
    --background: transparent;
    border: white solid 2px;
    padding-left: 25px;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
  .icon_style {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: aliceblue;
  }
  .register_btn {
    --background: white;
    height: 53px;
    padding-block-end: 0px;
    width: -webkit-fill-available;
  }
  .register_btn_text {
    margin-top: 11px;
  }
  .eyestyle{
    color: white;;
  }
  