ion-content {
    --background: url(../../assets/image/bgimage.jpg) 0 0/100% 100% no-repeat;
  }
  ion-header ion-toolbar{
   // --background: url(../../assets/image/bgimage.jpg) 0 0/100% 100% no-repeat;
   --background:red;
  }
  .dashboaardtxt{
      text-align: center;
  }