<ion-header class="headercolor">
  <ion-toolbar>
    <ion-title class="title_register">Register</ion-title>
    <ion-buttons slot="start" class="back_btn">
      <ion-back-button defaultHref="/" routerDirection="back"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content class="bgimage">
  <!--Register form start-->
  <form [formGroup]="registerForm">
    <ion-grid class="page_margin">
      <ion-row>
        <ion-col class="ion-align-self-center">
          <ion-text class="ion-text-center">
          </ion-text>
        </ion-col>
      </ion-row>
      <!--First Name field start-->
      <ion-row>
        <ion-col align-self-center>
          <ion-item class="item-transperncy">
            <ion-input
              id="fname"
              formControlName="fname"
              (ionBlur)="errorToast('fname')"
              placeholder="First Name"

              required
            ></ion-input>
          </ion-item>
          <ion-icon class="icon_style" name="person"></ion-icon>
        </ion-col>
      </ion-row>
      <!--First Name field end-->
      <!--Last name field start-->
      <ion-row>
        <ion-col ion-align-self-center>
          <ion-item class="item-transperncy">
            <ion-input
            formControlName="lastname"
              (ionBlur)="errorToast('lastname')"
              position="center"
              type="text"
              spellcheck="true"
              placeholder="Last Name"
              clear-input="true"
            ></ion-input>
          </ion-item>
          <ion-icon class="icon_style" name="person"></ion-icon>
        </ion-col>
      </ion-row>
      <!--Last name field end-->
      <!--Email field start-->
      <ion-row>
        <ion-col ion-align-self-center>
          <ion-item class="item-transperncy">
            <ion-input
              formControlName="email"
              (ionBlur)="errorToast('email')"

              position="center"
              type="text"
              spellcheck="true"
              inputmode="email"
              placeholder="Email"
              clear-input="true"
            ></ion-input>
          </ion-item>
          <ion-icon class="icon_style" name="mail"></ion-icon>
        </ion-col>
      </ion-row>
      <!--Email field end-->
      <!--Password field start-->
      <ion-row>
        <ion-col ion-align-self-center>
          <ion-item class="item-transperncy">
            <ion-input
              formControlName="password"
              class="input-field"
              type="{{passwordType}}"
              placeholder="Password"
              (ionBlur)="errorToast('password')"
              clear-input="true"
            ></ion-input>
            <ion-icon
              (click)="passwordhideeye()"
              class="eyestyle"
              name="{{showeye?'eye':'eye-off'}}"
            ></ion-icon>
          </ion-item>

          <ion-icon class="icon_style" name="lock-closed-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <!--Password field end-->
      <!--Confirm password field start-->
      <ion-row>
        <ion-col ion-align-self-center>
          <ion-item class="item-transperncy">
            <ion-input
              formControlName="confirm_password"
              (ionBlur)="checkPasswords()"

              class="input-field"
              type="{{cpasswordType}}"
              placeholder="Confirm Password"
              clear-input="true"
            ></ion-input>
            <ion-icon
              (click)="cpasswordhideeye()"
              class="eyestyle"
              name="{{cshoweye?'eye':'eye-off'}}"
            ></ion-icon>
          </ion-item>
          <ion-icon class="icon_style" name="lock-closed-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <!--Confirm password field end-->
      <!--Mobile number field start-->
      <ion-row>
        <ion-col ion-align-self-center>
          <ion-item class="item-transperncy">
            <ion-input
              formControlName="mobilenumber"
              class="input-field"
              type="Number"
              placeholder="Phone Number"
              max="10"
              clear-input="true"
              (ionBlur)="errorToast('mobilenumber')"
            ></ion-input>
          </ion-item>
          <ion-icon class="icon_style" name="phone-portrait"></ion-icon>
        </ion-col>
      </ion-row>
      <!--Mobile number field end-->
      <!--Gender section start-->
      <ion-row class="gender">
        <ion-col size="3" class="gender_txt">
          <ion-label color="light label_color">Gender</ion-label>
        </ion-col>
        <ion-col size="9">
          <ion-row>
            <ion-col class="radio_size">
              <ion-radio-group
              formControlName="gender"
                (ionChange)="radio($event)"
              >
                <ion-label color="light" class="label_style label_color">Male </ion-label>
                <ion-radio
                  mode="md"
                  name="Male"
                  checked="true"
                  value="male"
                  class="radioClass"
                ></ion-radio>
                <ion-label class="female_padding label_style label_color" color="light"
                  >Female
                </ion-label>
                <ion-radio
                  mode="md"
                  name="Female"
                  value="female"
                  class="radioClass"
                ></ion-radio>
              </ion-radio-group>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <!--Gender section end-->
      <!--Register button start-->
      <ion-row>
        <ion-col ion-align-self-center>
          <ion-button
            class="register_btn"
            [disabled]="!registerForm.valid"
            (click)="register()"
          >
            <ion-text color="danger">
              <h1 type="button" class="register_btn_text">Register</h1>
            </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
      <!--Register button End-->
    </ion-grid>
  </form>
</ion-content>

