.back_btn {
    color: white;
  }
  ion-header ion-toolbar {
    --background: url("../../assets/image/bgimage.jpg") center / 200%;
  }
  .title_register {
    color: white;
    text-align: center;
    font-weight: bold;
  }
  ion-content.bgimage {
    --background: url(../../assets/image/bgimage.jpg) 0 0/100% 100% no-repeat;
  }
  ion-header.headercolor {
    background-color: red;
  }
  .page_margin {
    margin-left: 15px;
    margin-right: 15px;
  }
  .head-color {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }
  .ion-inputs-item {
    padding-bottom: 12px;
    --background: transparent;
    font-size: 21px;
    font-weight: bold;
  }
  .item-transperncy {
    --background: transparent;
    border: white solid 2px;
    padding-left: 25px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    height: 46px;
  }
  .icon_style {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: aliceblue;
  }
  .gender {
    height: 39px;
    font-size: 18px;
    padding-block-start: 9px;
    font-weight: bold;
    padding-left: 9px;
  }
  .register_btn {
    --background: white;
    height: 53px;
    padding-block-end: 0px;
    width: -webkit-fill-available;
  }
  .checkbox_gender {
    --background: transparent;
    font-size: 21px;
    font-weight: bold;
  }
  .checkbox_term {
    --background: transparent;
    font-size: 18px;
    color: white;
    font-weight: bold;
  }
  .female_padding {
    padding-left: 23px;
  }
  .term_checkbox_text {
    padding-left: 10px;
    color: white;
    font-size: 16px;
    font-family: gotham medium;
    vertical-align: middle;
  }
  .register_btn_text {
    margin-top: 11px;
  }
  .error-messages {
    font-size: 1rem;
    color: white;
    text-align: center;
  }
  .gender_txt {
    font-size: 16px;
    padding-top: 13px;
    margin-top: -2px;
  }
  .radio_size {
    font-size: 17px;
  }
  .radioClass {
    margin-bottom: -5px;
  }
  .label_style {
    font-size: 16px;
  }
  .label_color{
      color: white;
  }
  .checkbox_select {
    vertical-align: middle;
    --border-radius: 0%;
    border-bottom: double;
    --size: 18px;
  }
  .check_term_cond {
    text-align: center;
    padding-top: 11px;
  }
  .underline_txt {
    border-bottom: 1px solid white;
  }
  .error_style_color {
    border-radius: 2px solid red;
  }
  .back_btn_1 {
    color: transparent;
  }
  .back_btn_ios {
    display: none;
  }
  .back_btn_md {
    color: transparent;
  }
  .eyestyle{
    color: white;
  }